@use 'functions' as *;
@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: rem(16);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  @media only screen and (min-width: 1440px) {
    font-size: 1vw;
  }
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  color: $color-text-body;
  background-color: $color-page-bg;
}

a {
  color: inherit;
  text-decoration: none;
}
